@using Tide.Dashboard.Models.Anomaly;
@model AnomalyViewModel
@{
    ViewData["Title"] = "Anomaly";
}


<div class="card shadow-sm mb-10" >
    <div class="card-body">
        <h1>Understanding CWIX errors and missleading data</h1>
        <p>This page contains informations about anomalies related to CWIX testing activity. The data was calculated based on duplicated objects found in TIDE platform and other mechanisms which make use of test cases and test templates.</p>
    </div>
</div>


<vc:plot id="anomalies" name="Testing anomalies" height="575"></vc:plot>

<div class="mt-15"></div>

<vc:plot id="cyclesdeviation" name="Deviation over CWIX cycles" height="350"></vc:plot>

<partial name="_FocusAreaDeviation.cshtml" model="@Model" />

@section scripts{
    <script src="/js/anomaly/index.js" asp-append-version="true"></script>
}